@font-face {
  font-family: chalet;
  src:url(fonts/chaletCoprimeSixty.ttf)
}

@font-face {
  font-family: TradeGothic;
  src: url(fonts/TradeGothic.ttf);
}
@font-face {
  font-family: TradeGothicBold;
  src: url(fonts/TradeGothicBold.ttf);
}
::selection {
    background-color: #e55300;
    color: #ffffff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #e55300;
    color: #ffffff;
}

::-o-selection {
    background-color: #e55300;
    color: #ffffff;
}

::-ms-selection {
    background-color: #e55300;
    color: #ffffff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #e55300;
    color: #ffffff;
}

body {
  margin:0;
  font-family:TradeGothic;
  text-align:center;
  background: #ffffff;
  width: 100vw;
  font-size: 1vw;
  overflow-x: hidden;
  overflow-y: overlay;
}

.levelsContainer {
  width: 80%;
  position: relative;
  margin-top: 5%;
}

.levelsImage{
  margin-top: 3vw;
  width: 100%;
  border-radius: 1vw;
  border-color:#e55300;
}

.levelsRow{
  display: flex;
  margin-bottom: 3%;
}

.level{
  width:80%;
  background:  #efefef;
  border: 2px solid;
  border-radius: 1vw;
  border-color:#e55300;
  position: inherit;
}

.level1 {
  margin-left: 10%;
  opacity: 1;
}

.level2{
  margin-left: 20%;
  margin-top: -5%;
}

.level3{
  margin-left: 30%;
  margin-top: -5%;
  opacity: 1;
  position: inherit;
  z-index: 12;
  background:  #efefef;
}

.levelsTagLine{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  z-index: 11;
  opacity: 1;
  font-family: TradeGothicBold;
}

.tituloInterno{
  text-align: center;
  font-family: chalet;
  color: #e55300;
  font-size: 6vw;
  margin-bottom: 0;
  margin-top: 0;
}

.portadaTitulo{
  font-size:8vw;
  color:#e55300;
}

.contactb {
	background-color:#e55400;
	border-radius:0.5vw;
	border:1px solid #e55400;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size: 1vw;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.contactb:hover {
	background-color:#e32d00;
}
.contactb:active {
	position:relative;
	top:1px;
}


.portadaSubtitulo{
  font-size:2vw;
}
.container {
  position: inherit;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  font-family: chalet;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav {
  font-family: chalet;
  overflow: hidden;
  width:100%;
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  padding: 0.5em;
  background-color: #2b2b2b;
  z-index: 20;
}

.titulo{
  font-family: chalet;
  overflow: hidden;
  width:100%;
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top:2.5em;
  color: #ffffff;
  background-color: #e55300;
  z-index: 1;
  display: none;
}

.tituloResponsive{
  font-family: chalet;
  overflow: hidden;
  width:100%;
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top:8em;
  color: #ffffff;
  background-color: #e55300;
  z-index: 1;
}

.stepsLogo{
  width: 25%;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #e55300;
  color: white;
}

.topnav .icon {
  display: none;
}

.clientLogo{
  height: 4vw;
  margin: 2%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.clientLogos{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.calendar{
  height: 80vh;
  width: 70%;
  border: 0;
  margin-bottom: 10%;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  position:relative;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contactTA{
  width: 100%;
  resize: vertical;
}

.tableText{
  text-align: right;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a{
  font-size: 1.5vw;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #e55300;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row {
  display: flex;
}

.column{
  flex: 50%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-size: 1vw;
  word-wrap: break-word;
}

.quote{
  flex: 33%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-size: 1vw;
  word-wrap: break-word;
  background:  #efefef;
  border: 2px solid;
  border-radius: 1vw;
  border-color:#e55300;
  margin: 5%;
}

.quote-text{
  margin: 7%;
  margin-top: 0;
}

.client-name{
  font-family: chalet;
  margin: 10%;
  font-size: 2vw;
}

.quote-begin{
  color: #e55300;
  font-family: chalet;
  font-size: 4vw;
  display: inline;
  margin-bottom: 0;
}

.text-left{
  margin-left: 20%;
  margin-right: 5%;
}

.text-right{
  margin-left: 5%;
  margin-right: 20%;
}

.stepsText{
  margin-left: 20%;
  margin-right: 20%;
}

.stepsTagline{
  margin-left: 20%;
  margin-right: 20%;
  font-family: TradeGothicBold;
}

.column-display{
  flex: 50%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.column-image{
  width: 100%;
}

.tituloPasos{
  font-size:4vw;
  color:#e55300;
  margin-bottom: 0;
  font-family: chalet;
}

.levelsTitle{
  font-size:4vw;
  color:#e55300;
  margin-bottom: 0;
  z-index: 11;
  font-family: chalet;
}

.levelsText{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  opacity: 1;
  margin-bottom: 10%;
}

.tituloResponsive{
  top:8em;
}
.trainingText{
  margin: 20%;
  margin-top: 2vw;
  margin-bottom: 0;
  font-size: 1vw;
  text-align: justify;
}
.contact{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}
.contactInput{
  width: 100%;
}

@media screen and (max-width: 600px) {
  body{
    font-size: 4vw;
  }

  .topnav a, .dropdown .dropbtn {
    display: none;
    position:inherit;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .levelsRow{
    display: inline;
  }
  .levelsImage{
    border-radius: 2vw;
  }

  .row{
    display: inline;
  }
  .column{
    font-size: 4vw;
  }

  .text-left{
    margin-left: 15%;
    margin-right: 15%;
  }

  .text-right{
    margin-left: 15%;
    margin-right: 15%;
  }

  .centered{
    top:20%;
  }

  .topnav a{
    font-size: 5vw;
  }

  .portadaSubtitulo{
    font-size:4vw;
  }
  .column-display{
    display: none;
  }
  .column{
    font-size: 4vw;
  }
  .tituloPasos{
    font-size: 8vw;
  }
  .quote-text{
    font-size: 4vw;
  }
  .quote-begin{
    font-size: 16vw;
  }
  .client-name{
    font-size: 8vw;
  }
  .quote{
    border-radius: 5vw;
    margin: 10%;
  }
  .levelsTitle{
    font-size: 8vw;
  }
  .level{
    border-radius: 5vw;
  }
  .trainingText{
    font-size: 4vw;
    margin-bottom: 8vw;
  }
  .clientLogo{
    height: 10vw;
  }
  .calendar{
    width: 100%;
  }
  .tituloInterno{
    font-size: 14vw;
    margin-left: 10%;
    margin-right: 10%;
  }
  .contact{
    margin-left: 7%;
    margin-right: 7%;
  }
  .contactb{
    font-size: 4vw;
    border-radius: 2vw;
    margin-bottom: 4vw;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    position:inherit;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative; }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
